Repository demisto/dockerfiles, changes with the owners that .github/CODEOWNERS names for each.
All owners: @anara123, @samuelFain, @jlevypaloalto

.github/CODEOWNERS:

# CODEOWNERS
# How this file is used? See: https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/docker/*.json @anara123
/docker/verify_licenses.py @anara123

/docker/demisto-sdk/ @samuelFain

docker/ml @jlevypaloalto
docker/mlclustering @jlevypaloalto
docker/mlurlphishing @jlevypaloalto
docker/sklearn @jlevypaloalto

lock
  docker/ml/demisto_ml-0.2.tar.gz
  docker/ml/poetry.lock
Owners: @jlevypaloalto

Add ijson to netutils image
  docker/netutils/poetry.lock
  docker/netutils/pyproject.toml
Owners: none

add endquotes
  docker/ml/Dockerfile
Owners: @jlevypaloalto

unit test
  unit_tests/verify_licenses_test.py
Owners: none

poetry
  docker/demisto-sdk/poetry.lock
Owners: @samuelFain

poetry
  poetry.lock
  pyproject.toml
Owners: none

build(dockerfiles) update Dockerfile - autoupdate/demisto/python3-deb_demisto-sdk_3.12.7.117935 (#36068)
  docker/demisto-sdk/Dockerfile
  docker/demisto-sdk/poetry.lock
  docker/demisto-sdk/pyproject.toml
  docker/verify_licenses.py
  poetry.lock
  pyproject.toml
  unit_tests/verify_licenses_test.py
Owners: @samuelFain, @anara123

update python version
  docker/taxii2/Pipfile
  docker/taxii2/Pipfile.lock
Owners: none

build(dockerfiles) update Dockerfile - autoupdate/demisto/yarapy_taxii2_1.0.0.2195935 (#36011)
  docker/taxii2/Dockerfile
  docker/taxii2/Pipfile
  docker/taxii2/Pipfile.lock
Owners: none

build(dockerfiles) update Dockerfile - autoupdate/demisto/python3_xsoar-tools_3.12.8.1983910 (#36087)
  docker/xsoar-tools/Dockerfile
  docker/xsoar-tools/poetry.lock
  docker/xsoar-tools/pyproject.toml
Owners: none

build(dockerfiles) update Dockerfile - autoupdate/demisto/python3_carbon-black-cloud_3.12.8.1983910 (#36072)
  docker/carbon-black-cloud/Dockerfile
  docker/carbon-black-cloud/Pipfile
  docker/carbon-black-cloud/Pipfile.lock
  docker/datadog-api-client/Pipfile.lock
Owners: none

install gke (#35331)
  docker/gitlab-content-ci/Dockerfile
Owners: none

poetry
  docker/gitlab-content-ci/Dockerfile
Owners: none

Update Dockerfiles
  docker/fastapi/Dockerfile
Owners: none

Update Dockerfiles (#36105)
  docker/fastapi/Dockerfile
Owners: none

poetry change (#36100)
  docker/gitlab-content-ci/Dockerfile
Owners: none

lock
  docker/ml/demisto_ml-0.2.tar.gz
  docker/ml/poetry.lock
  docker/ml/pyproject.toml
  docker/ml/verify.py
Owners: @jlevypaloalto

add psutil
  docker/netutils/poetry.lock
  docker/netutils/pyproject.toml
Owners: none

Revert "add psutil"
  docker/netutils/poetry.lock
  docker/netutils/pyproject.toml
Owners: none

With no updates
  docker/netutils/poetry.lock
  docker/netutils/pyproject.toml
Owners: none

specific version
  docker/netutils/poetry.lock
  docker/netutils/pyproject.toml
Owners: none
